{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

    here is your cart page

{% endblock %}

{% block title %}
    CART- Nature store
{% endblock %}

{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">Your cart is empty</h1><br>
        <p class="text-center">Please click <a href="{% url 'ecommerceapp:allProdCat' %}">Here</a> to continue shopping</p>

    </div>
</div>

{% else %}
<div>
    <div class="text-center"><br>
        <h1 class="text-center my_title">Your Shopping Cart</h1>
        <br>
    </div>

<div class=" row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
        <thead class="my_custom_thead">
        <tr>
            <th colspan="5">
                Your items
            </th>
        </tr>
        </thead>
            <tbody>
            {% for cart_item in cart_items %}
               <tr>
                   <td>
                       <a href="cart_item.products.get_absolute_url"><img src="{{cart_item.products.image.url}}" width="100%" height="100px" alt="" class="float-left rounded"></a>
                   </td>
                   <td class="text-left">
                       {{cart_item.products.name}}
                       <br>
                       SKU:{{cart_item.products.id}}
                       <br>
                       price: ${{cart_item.products.price}}
                       <br>
                       Qty:{{cart_item.quantity}} x $ {{cart_item}}
                   </td>
                   <td>
                       $ {{cart_item.sub_total}}
                   </td>
                   {% if cart_item.quantity < cart_item.products.stock %}
                   <td>
                       <a href="{% url 'cart:add_cart' cart_item.products.id %}" class="custom_a"><i class="fa fa-plus custom_icon"></i></a><br>
                       &nbsp;<a href="{% url 'cart:cart_remove' cart_item.products.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a><br>
                       &nbsp;<a href="{% url 'cart:full_remove' cart_item.products.id %}" class="custom_icon"><i class="fa fa-trash custom_icon"></i></a>
                   </td>
                   {% else %}
                      <td>
                       &nbsp;<a href="{% url 'cart:cart_remove' cart_item.products.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                       &nbsp;<a href="{% url 'cart:full_remove' cart_item.products.id %}" class="custom_icon"><i class="fa fa-trash custom_icon"></i></a>
                      </td>
                   {% endif %}
               </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th>CheckOut</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Please review your cart items before proceeding payment</td>
            </tr>
            <tr>
                <td class="text-center">
                    Your Total is : <strong>{{total}}</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="mx-auto">
            <a href="{% url 'ecommerceapp:allProdCat' %}" class="btn btn-secondary width:30px; padding:15px;">Continue shopping</a>
            &nbsp;&nbsp;&nbsp;<a href="{% url 'ecommerceapp:allProdCat' %}" class="btn btn-secondary width:30px; padding:15px;">Payment</a>
            <br>
</div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}